//  Chat Web

  .chatin{

    overflow-y: auto;
    height: 45em;
    background: $white;
  }

  .titulomensaje{

    background: #234;
    padding: 6px;
    color: #fff;

  }


  .useractual{

    padding: 2px;
  }

  .chatbody{

    background: #c69f5d;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    padding-top: 8px;
  }

  /// Upload Files Imagenes

[type='file'] {
  -webkit-appearance: none;
    color:#fff;
   font-family: Open;
}
[type='file']::-webkit-file-upload-button {
    border-radius: 4px;
    border: 0;
    background: #ffffff;
    color: $green;
    border: 1px solid $green;
    padding: 8px;
    font-family: Open Sans;
    font-size: 15px;
    cursor: pointer;
}


[type='file']::-webkit-file-upload-button:active, [type='file']::-webkit-file-upload-button:focus {
  outline: 0;
}

input[type="file"] {
    display: block;
    opacity: 1.4;
    
}


.iconocat:hover{

  color: #fff;
}

.activo{

  background: #456;
  color:#fff;
}


.desactivo{

  background: #fff;
  color:#000;
}
     


.wrapper {
    width: 95%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;

    margin: 0 0 11px;
    width: 100%;

}


@media only screen and (min-width: 300px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}




.cabecerachat{

  background: $green;
  color:#fff;
  padding: 4px;
}

.item-cta {
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: center;
    background-color: rgba(255,255,255,0.7);
}

.item-cta a {
    color: $green;
    width: 100%;
    margin: 5px;
    height: 40px;
    display: block;
    line-height: 40px;
    border-radius: 3px;
 
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;

    border: 1px solid $green;
    background-color: #fff;
}

.tap:focus::before {
    -webkit-animation: pulse 1s;
    -webkit-animation-iteration-count: 1;
    animation: pulse 1s;
    animation-iteration-count: 1;
}

.tap::before {
    content: '';
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    opacity: 0;
    position: absolute;
    margin: -15px 0 0 -15px;
    left: 50%;
    top: 50%;
}
.search-input-wrap {
    position: absolute;
    left: 50px;
    top: 19px;
    right: 10px;
}

.search-form {
    background-color: $white;
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    -webkit-animation: slide-left .2s cubic-bezier(0, 0.5, 0, 1);
    -webkit-animation-iteration-count: 1;
    animation: slide-left .2s cubic-bezier(0, 0.5, 0, 1);
    animation-iteration-count: 1;
} 

 .container-movil {
   padding-top: 64px;
}

 /*file*/

 [type='file'] {
  -webkit-appearance: none;
    color:#fff;
   font-family: Open;
}
[type='file']::-webkit-file-upload-button {
    border-radius: 4px;
    border: 0;
    background: #ffffff;
    color: $green;
    border: 1px solid $green;
    padding: 8px;
    font-family: Open Sans;
    font-size: 15px;
    cursor: pointer;



}
[type='file']::-webkit-file-upload-button:active, [type='file']::-webkit-file-upload-button:focus {
  outline: 0;
}

input[type="file"] {
    display: block;
    opacity: 1.4;
    
}
     
.drawer-text{
      padding-top: 18px;

}
     /*fin*/

.detallemovil{
  padding-left: 19px;
    line-height: 2em;
}
 .material-icons,span{

  vertical-align: middle;
 }

 a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
 }


  .drawer-title {
    background: $white;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid $green;
    
}
   .drawer-navigation > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
}

.drawer-navigation > a:hover, .drawer-navigation > a:focus {
    background-color: $green;
}

   .icons{

   speak: none;
    line-height: 1;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;

}
 
.wrapper {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

    .drawer{

    background-color: #fff;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: -230px;

    height: 100%;
    will-change: transform;
    pointer-events: auto;
    width: 230px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}


.drawer-toggle {
    left: -9999px;
    position: absolute;
    top: -99999px;
}


.drawer-toggle:checked ~ .drawer-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.drawer-overlay {
    position: fixed;
    z-index: 80;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .54);
    transition: opacity .2s ease-in;
}


.perfilprincipal{

  background: $blue;
    color: #fff;
    padding: 29px;

}
.perfilmovil{

	background: $white;
    
    padding: 19px;

}

.perfilmovil:hover{

  background: $green;
    color: #fff;
    padding: 19px;

}

.sli{

    background: rgba(109, 193, 186,.4);
}

.list-group-item:hover{

  background: lighten($green,10%);
  color:#fff;
}

a:focus, a:hover {



    text-decoration: none;
}

.chatperfil{

	
    margin-bottom: 11px;
    background: $white;
    
 	   border-radius:2px;
    border: 1px solid $green;

    transition:all .4s;
}

.chatperfil:hover{

  
    margin-bottom: 11px;
    
    background: $green;
  
    border: 1px solid $green;
    background: $green;
}

/* Border Chat*/



/* CSS talk bubble */
.talk-bubble {

    display: inline-block;
    position: relative;
 
    height: auto;
    background-color: $green;
    border-radius: 5px;
    color:#fff;
}

.talk-bubble_1 {

    display: inline-block;
    position: relative;
   
    height: auto;
    background-color: $blue;
    border-radius: 5px;
    color:#fff;
}

/*version web*/

/* CSS talk bubble */
.talk-bubble_w {

    display: inline-block;
    position: relative;
 
    height: auto;
    background-color: $green;
    border-radius: 5px;
    color:#fff;
}

.talk-bubble_1_w {

    display: inline-block;
    position: relative;
   
    height: auto;
    background-color: $blue;
    border-radius: 5px;
    color:#fff;
}


.border{
  border: 0px solid #666;
}
.round{
  border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: 0px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -10px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: $green transparent transparent transparent;
}


/* Right triangle placed top left flush. */
.tri-right_1.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: 0px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right_1.left-top:after{
content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 8px solid;
	border-color: $blue transparent transparent transparent;
}


/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 10px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: $green $green transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -2px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent $green;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: $green transparent transparent $green;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: $green $green transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent $green;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: $green $green transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: $green transparent transparent $green;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
  top: -0px;
	bottom: auto;
	border: 9px solid;
	border-color: $green transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
  top: 0px;
	bottom: auto;
	border: 5px solid;
	border-color: $green transparent transparent transparent;
}

/* talk bubble contents */
.talktext{

    text-align: left;
    line-height: 3em;
    /* padding-top: 4px; */
    padding-left: 10px;
    padding-top: 0px;
        padding-right: 10px;
}
.talktext small{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.detallechatproducto{

	background: $blue;
}



/*Fin Border Chat*/

/*Login*/


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:670px;
  position:relative;
  // background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg4WKR8pZ2uF8kBkUm7_USZfw8ga44mjmCVK2om6VZ91bbOIUa1w) no-repeat center;
  //box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{

      width: 100%;
    /* height: 100%; */
    position: absolute;
    padding: 53px 43px 10px 43px;
   border:1px solid $green;
  border-radius: $border-radius;

}



.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  -webkit-transform:rotateY(180deg);
          transform:rotateY(180deg);
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
font-size: 18px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:$blue;
  border-color:$green;
}
.login-form{
  min-height:345px;
  position:relative;
  -webkit-perspective:1000px;
          perspective:1000px;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:$border-radius;
  background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form .group .button{
  background:$green;
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  -webkit-transition:all .2s ease-in-out 0s;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  -webkit-transform:scale(0) rotate(0);
          transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  -webkit-transform:scale(0) rotate(0);
          transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
  -webkit-transform:scale(1) rotate(45deg);
          transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  -webkit-transform:scale(1) rotate(-45deg);
          transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  -webkit-transform:rotate(0);
          transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  -webkit-transform:rotate(0);
          transform:rotate(0);
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}