<script type="text/javascript">
	
 setTimeout(function(){ $( ".cat" ).fadeIn( "slow" ); }, 2000);

</script>

<footer class='cat' style='display:none;'>
	
	<div class="container" style="
    padding-top: 20px;
    background: #fff;
    color: #37475a;
">
		
	<ul class='footerli'>
	<li style='font-size: 20px;
	padding-bottom: 9px;'>Acerca de Estokealo</li>
	<br>
	<li><a class='foot' href='#'>Terminos y Condiciones</a></li>
	<li><a class='foot' href='#'>Politicas de la empresa</a></li>
	<li><a class='foot' href='#'>Compra seguro</a></li>
	<li><a class='foot' href='#'>Ayuda</a></li>
	</ul>
	</div>
	<div class='linea'></div>
	<div class='container-full' style='background: #35aaa0;'>


	<div class='afterline'>
	Venta y Clasificados Copyright @ 2017 Estokealo todos los derechos reservados
	</div>
	
		
	</div>
 
	
	
</footer>

<style type="text/css">
	
	footer{
		background:#fff;
	    color: #fff;
	

	}
	.linea{
	width: 100%;
    border: 1px solid #35aaa0;
    bottom: 58px;
	}
	.footerli li{
		list-style:none;
		font-size: 13px;
		line-height: 28px;
		display: inline-block;
	}
	.afterline{

	padding-top: 18px;
    font-size: 13px;
    padding-bottom: 18px;
    
    padding-left: 117px;

	}

	.foot {
    color: #126059;
    text-decoration: none;
    padding-right: 14px;
}

</style>