<script type="text/javascript">
	
 setTimeout(function(){ $( ".cat" ).fadeIn( "slow" ); }, 2000);

</script>

<footer class='cat' style='display:none;'>
	
	<div class="container" style="height: 190px;
    padding-top: 30px;
    background: #fff;
    color: #37475a;
">
		
	<ul class='footerli'>
	<li style='font-size: 26px;padding-bottom: 12px;'>Acerca de Estokealo</li>
	<li>Terminos y Condiciones</li>
	<li>Politicas de la empresa</li>
	<li>Compra seguro</li>
	<li>Ayuda</li>
	</ul>
	</div>
	<div class='linea'></div>
	<div class='container-full' style='background: #35aaa0;'>


	<div class='afterline'>
	Venta y Clasificados Copyright @ 2017 Estokealo todos los derechos reservados
	</div>
	
		
	</div>
 
	
	
</footer>

<style type="text/css">
	
	footer{
		background:#fff;
	    color: #fff;
	

	}
	.linea{
	width: 100%;
    border: 1px solid #35aaa0;
    bottom: 58px;
	}
	.footerli li{
		list-style:none;
		font-size: 13px;
		line-height: 28px;
	}
	.afterline{

	padding-top: 18px;
    font-size: 13px;
    padding-bottom: 18px;
    
    padding-left: 117px;

	}

</style>