<!DOCTYPE html>
<html ng-app="HeaderApp" ng-controller="HeaderCtrl">



<head>
  <title>Estokealo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="manifest" href="/static/manifest.json">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

  <script type="text/javascript" src='/static/js/bootstrap.js'></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <link rel="stylesheet" type="text/css" href="/static/css/emojin.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script> 

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

   
</head>






<body>






<nav class="navbar navbar-toggleable-md fixed-top " style='background: #fff; box-shadow: 1px 2px 2px #d6dde6;'>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">


<!--   <div class='menucorto'>Menu</div> -->


  <style type="text/css">
    
    .menucorto{
      position: absolute;
    height: auto;
    background: #fff;
    right: 299px;
    top: 59px;
    max-width: 5em;
    padding: 11px;

    border:  1px solid rgba(53, 170, 160, 0.4);
    border-radius: 0 0 2px 2px;
    }

    .dropdown-toggle::after {
    display: none;
    width: 0;

    }
  </style>


 <a class="navbar-brand" href="/" style='margin-top: -16px;'><img src="{{host}}/static/estoke.png" height="45px" ></a>

 

 <small style='position: absolute;
    left: 75px;
    top: 41px;
    font-size: 11px;
    color: #2aa59a;'>Compra & Vendelo todo </small>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      


    <form class="form-inline my-2 my-sm-0" method="get" action="/busqueda/">


    
     <div class="input-group">
      <input style='border:1px solid #37475a;' type="text" class="form-control" required name='dato' autofocus placeholder="¿Que estas buscando?">
      <span class="input-group-btn">
        <button style='border: 1px solid;' class="btn btn-secondary" type='submit'><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    </div>

    </form>


  <style type="text/css">
    
    .form-inline .input-group {
    /* width: 500px; */
    width: 400px;
}
  </style>



         

      {% if usuario.username %}

    

       <li class="nav-item" style="padding-top: 8px;
    padding-left: 16px;
    padding-right: 14px;
    display: flex;
    flex-direction: column;" onclick="location.href = '/perfil';" >

      

      <img src="{{usuario.photo}}" class='img-fluid rounded-circle'  style='width: 40px;'>
      <span style='color: #37475a; font-size:12px;'>{{usuario.first_name}}</span>
    
          
      
      </li>

      <!--Favoritos en el Header-->

       <li class='nav-item' style='padding-top: 5px;
    min-width: 60px;
    padding-left: 19px;
    font-size: 23px;
    color: #37475a;'>
        
          <div class="dropdown">



          <a class="nav-link  dropdown-toggle" href="/productos/{{usuario.id}}" id="xxxx" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
          <i style='font-size: 23px;
           color: #37475a;' class="fa fa-heart" ng-click='mensajes' aria-hidden="true"></i> 
          </a>



          <div class="dropdown-menu animated fadeIn" aria-labelledby="xxxx" >

                  <section class="headerflex">

                  Favoritos

                  </section>


                {% for f in favoritos %}

                <a href='/detallechatpc/{{f.producto.user.id}}/{{f.producto.id}}'>

                <div class="containerflex elem">

                  <section class="elem elem-green flex1">
                    <img src='{{host}}{{f.photo}}' class='img-fluid ' >
                  </section>
                  <section class="elem elem-green flex2">
                   
                        
                    {{f.producto.titulo}}<br>

                    {{f.producto.precio}}
                  </section>
                </div>

             
                </a>

 
 

      {% endfor %}

       <section class="headerflex" style='text-align: center;'>

                  <a href='/favoritos'>Ver Todos</a>

                  </section>

        
          </div>
      </div>


      </li>

        <!--Mensajes en el Header-->
    
       <li class='nav-item' style='padding-top: 0px;
    min-width: 60px;
    padding-left: 13px;
    font-size: 26px;
    color: #37475a;'>
        
              <!-- <a href="/chat/"> <i class="fa fa-comments" aria-hidden="true"></i> </a> -->


      <div class="dropdown">
          <a class="nav-link  dropdown-toggle" href="/productos/{{usuario.id}}" id="xxxx" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
          <i style='font-size: 23px;
    color: #37475a;' class="fa fa-comments" ng-click='mensajes' aria-hidden="true"></i> 
          </a>

            <div class="dropdown-menu  animated fadeIn" aria-labelledby="xxxx">

            <section class="headerflex">

                  Mis Mensajes

                  </section>



                <a ng-repeat="m in listachat |   orderBy:'$index':true   " href='/chat/{[{m.user}]}/{[{m.producto}]}'>

                <div class="containerflex elem" ng-if='m.user__username!="{{usuario.username}}"'>

                  <section class="elem elem-green flexuser">
                    <img  src='{[{m.user__photo}]}' class='img-fluid rounded-circle' >
                  </section>
                  <section class="elem elem-green flex2">
                   
                        
                {[{m.user__first_name}]}<br>

                  </section>


                  


                </div>

             
                </a>

                <a href='/chat/0/8'><section class="headerflex" style='text-align: center;'>

                  Ver Todos

                  </section></a>

 
        

            </div>



          </div>
      

      </li>

      <li class='nav-item' style='padding-top: 15px;'>
        
      <div class="dropdown">
          <a class="nav-link  dropdown-toggle" href="/productos/{{usuario.id}}" id="xxxx" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
          <i style='font-size: 23px;
    color: #37475a;' class="fa fa-globe" ng-click='mensajes' aria-hidden="true"></i> 
          </a>

          <div class="dropdown-menu" aria-labelledby="xxxx">
            <a class="dropdown-item" href="/productos/{{usuario.id}}">Mis Anuncios</a>
            <a class="dropdown-item" href="/perfil/">Mi Perfil</a>
            <a class="dropdown-item"  href="/salir">Salir</a>

           
          </div>
      </div>

      </li>

       <!-- <li class="nav-item" style="padding-top: 15px;
    padding-left: 15px;" >
      

       

        <a href="/chat/"> <i class="fa fa-comments" aria-hidden="true"></i> Mensajes</a>
      </li> -->

      {% else %}



        <a  class='nav-item' style="padding-top: 19px; padding-left: 19px;" href="/ingresar/5" >  Ingresar</a>

        <a class='nav-item' style="padding-top: 19px; padding-left: 19px;" href="/ingresar/5">  Registrarse</a>
 



      {% endif %}



  

    </ul>

      <a class="nav-link" href="/vender" style='padding-top: 16px;'><button class="btn btn-outline-success my-2 my-sm-0" > <i class="fa fa-camera" aria-hidden="true"></i> Vender</button></a>

      <a class="nav-link" href="/clasificados" style='padding-top: 16px;'><button class="btn btn-outline-success my-2 my-sm-0" > Clasificados</button></a>



  </div>

  </div>
</nav>



 

<style type="text/css">
  
  a:hover {
    color: #126059;
    text-decoration: none;
}

.containerflex {
  display: flex;
    border: 1px solid #cedded;
    border-width: 0px 0px 1px 0px;
}
.containerflex:hover{
  background-color: rgba(30, 160, 149,.2);
}
.headerflex{

  width: 100%;
padding: 7px;
padding-left: 13px;
border: 1px solid #cedded;
border-width: 0px 0px 1px 0px;
color: #37475a;
font-size: 13px;
}


.flex1 {
  flex: 2;
}
.flexuser{
  flex:1;
}

.flex2 {
    flex: 4;
    font-size: 12px;
    color: #37475a;
}
.elem {
 position: relative;
 padding: 4px;

}

.dropdown-menu{
  min-width: 18rem;
}
.dropdown-item{

  font-size: 13px;
}

.menulink{

  padding:0.4em 4.3em;
}


</style>





</body>

</html>
