<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>





<head>
  <title>Estokealo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/static/manifest.json">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

  <script type="text/javascript" src='/static/js/bootstrap.js'></script>

  <script type="text/javascript" src='/static/js/index.js'></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script> 

   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  
  <link rel="stylesheet" type="text/css" href="/static/css/emojin.css">

</head>

<input type="checkbox" id="drawer-toggle" class="drawer-toggle" value="on">



<div class="drawer">

<div class="drawer-navigation">
  

<div class="drawer-title">



  {% if usuario.username %}

  <div class="row no-gutters">
  
  <div class="col-4"><div style='padding: 8px;'><img src='{{usuario.photo}}' class="img-fluid rounded-circle" style='max-height: 40px;'></img></div></div>

  <div class="col-8"><a href="/"><div class="drawer-text"><span class="user-name">Hola, {{usuario.first_name}}</span></div></a></div>

  </div>

  
 {% else %}

<a href="/ingresar/7"><div style='padding: 8px;'> <i class="material-icons">input</i><span class='detallemovil'>Ingresar</span></div></a>
  
  {% endif %}







</div>


<a class='icons ' href="/"> <img src="https://estokealo.com/static/cajita.png"  class='img-fluid' style='margin-top: 1px;
    margin-left: -4px;
    width: 40px;'><span class='detallemovil'><img src="https://estokealo.com/static/logosincaja.png" class='img-fluid' width="120" style='margin-top: -8px;
    margin-left: -4px;'></span></a>
  

{% if usuario.username %}

  
<a class='icons ' href="/productos/{{usuario.id}}"> <i class="material-icons">view_list</i><span class='detallemovil'>Mi Tienda Virtual</span></a>

<a class='icons' href='/perfil'><i class="material-icons">account_circle</i><span class='detallemovil'>Mi Perfil</span></a>

<a class='icons' href='/chat/7/7'><i class="material-icons">chat</i><span class='detallemovil'>Mis Mensajes</span></a>

<a class='icons' href='/vender'><i class="material-icons">camera_alt</i><span class='detallemovil'>Vender</span></a>


<a class='icons' href='/salir'>
<i class="material-icons">close</i>
<span class='detallemovil'>Salir</span></a>


      <main>

      
      <button disabled class="form-control js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Enable Push Messaging
      </button>
      </p>
      <section class="subscription-details js-subscription-details is-invisible">

      <pre><code class="js-subscription-json"></code></pre>
      </section>
      </main>
<script src="/static/js/mainservice.js"></script>




 {% else %}


<a class='icons' href='/vender'><i class="material-icons">camera_alt</i><span class='detallemovil'>Vender</span></a>



 {% endif %}


</div>


</div>



<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded" style='padding: .5em 1rem;'>

  <div class="row no-gutters">
    
    <div class="col-2">

    <div style='
    height: 100%;
    margin-top: 10px;
    '>

    <label for="drawer-toggle" onclick="myFunction()"><i class="material-icons" style='font-size:36px;'>menu</i></label>

    </div>
   
  </button>
</div>
    <div class="col-8"><center><a href='/'><img src="{{host}}/static/estoke.png" class='img-fluid' style='max-height: 44px;'></a></center>
</div>

<div class="col-2"><div id='search' style='
    height: 100%;
    margin-top: 10px;
    text-align:right;'> <i class="material-icons" style='font-size:35px;''>search</i></div>
</div>


  </div>

  <div class="overlay"></div>

<!--   <form class="search-form" novalidate="">

<button type="button" class="btn-back icons icon-back"></button>

<div class="search-input-wrap">

<input type="search" class="search-input" placeholder="Buscar..." autocomplete="off" value="">

<button type="submit" style="display: none;"></button></div>

<div class="overlay"></div>

</form> -->
  
  
</nav>


 


<label class="drawer-overlay" for="drawer-toggle"  onclick="cierranav()" ></label>



<script>
function myFunction() {


    $(".drawer").css("left", "0px");

    $("body").addClass("scroll-no");
}


function cierranav() {

  $(".drawer").css("left", "-230px");

  $("body").removeClass("scroll-no");


}

function back(){

$('.search-form').remove()

}

  
 $("#search").click(function(){
  console.log('search..')

        $(".overlay").after("<form class='search-form' method='post' action='/busqueda/' novalidate=''><i class='material-icons' onclick='back()' style='padding-top: 8px; font-size: 35px;'>backspace</i><div class='search-input-wrap'>{% csrf_token %}<input name='dato' type='search' class='form-control' placeholder='Buscar...' autocomplete='off' value=''><button type='submit' style='display: none;'></button></div><div class='overlay'></div></form>");
    });




</script>


<style type="text/css">
  
  .scroll-no {
    overflow: hidden;
}
</style>




</html>


