<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>





<head>
  <title>Estokealo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

  <script type="text/javascript" src='/static/js/bootstrap.js'></script>

  <script type="text/javascript" src='/static/js/index.js'></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


</head>

<input type="checkbox" id="drawer-toggle" class="drawer-toggle" value="on">



<div class="drawer">

<div class="drawer-navigation">
  

<div class="drawer-title">

<div class="row no-gutters">

  {% if usuario.username %}
  
  <div class="col-4"><div style='padding: 8px;'><img src='{{host}}{{usuario.photo}}' class="img-fluid rounded-circle" style='max-height: 40px;'></img></div></div>

  <div class="col-8"><div class="drawer-text"><a href="/myolx/myadslisting"><span class="user-name">Hola, {{usuario.first_name}}</span></a></div></div>

  
 {% else %}

<div style='padding: 8px;'><img src="{{host}}/static/estokealo_logo_final.png" class='img-fluid'></div>
  
  {% endif %}

</div>



</div>



  

{% if usuario.username %}

  
<a class='icons ' href="/productos/{{usuario.id}}"> <i class="material-icons">view_list</i><span class='detallemovil'>Mis Anuncios</span></a>

<a class='icons' href='/perfil'><i class="material-icons">account_circle</i><span class='detallemovil'>Mi Perfil</span></a>

<a class='icons' href='/chat'><i class="material-icons">chat</i><span class='detallemovil'>Mis Mensajes</span></a>

<a class='icons' href='/vender'><i class="material-icons">voice_chat</i><span class='detallemovil'>Vender</span></a>


<a class='icons' href='/salir'>
<i class="material-icons">close</i>
<span class='detallemovil'>Salir</span></a>




 {% else %}

<a class='icons' href='/ingresar'><i class="material-icons">input</i><span class='detallemovil'>Ingresar</span></a>
<a class='icons' href='/vender'><i class="material-icons">voice_chat</i><span class='detallemovil'>Vender</span></a>



 {% endif %}


</div>


</div>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <div class="row no-gutters">
    
    <div class="col-2">

    <label for="drawer-toggle" onclick="myFunction()"><i class="material-icons" style='font-size:35px;'>menu</i></label>
   
  </button>
</div>
    <div class="col-10"><img src="{{host}}/static/estokealo_logo_final.png" class='img-fluid'>
</div>
  </div>
  
  
</nav>


<label class="drawer-overlay" for="drawer-toggle" ></label>



<script>
function myFunction() {


    $(".drawer").css("left", "0px");
}


function cierranav() {

  $(".drawer").css("left", "-230px");


}



</script>




</html>


