<html ng-app="myApp" ng-controller="myCtrl">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>

{% include "headermovil.html" %}

<br>

<div class='container-fluid container-movil'>

<h5>Tienda Virtual de {{userproducto.first_name}}</h5>
<!-- 	<div class='row'>

			{% for producto in productos %}

			<div class='col-6 card1'>

							<a class='item' href="/producto/{{producto.id}}">
								<div class="card" >
									<img class="card-img-top img-fluid" src="{{host}}{{producto.detalle}}" alt="Card image cap">
										<div class="card-block">
										{{producto.titulo}}<br>
										<small class="card-text">{{producto.descripcion}}</small></br><br>
										<a class='btn btn-primary btn-sm' href='/editarproducto/{{producto.id}}'>  Editar
										</a>
										</div>
								</div>
							</a>
			</div>

			{% endfor %}


	</div> -->
	

		<div class="masonry">

		  {% for producto in productos %}
		 <a class='item' href="/producto/{{producto.id}}">
		    
			
		      
		      <div class="card" >
		        <img class="card-img-top img-fluid" src="{{host}}{{producto.detalle}}" alt="Card image cap">
		        <div class="card-block">
		         <h6>{{producto.titulo}}</h6>
		          <small class="card-text">{{producto.descripcion|truncatechars:70}} </small>
		         
		          
		        </div>


		      </div>

				 
		       </a>

			<!-- <a href='/editarproducto/{{producto.id}}' style="position: absolute;
    margin-top: -331px;
    margin-left: 126px;">  Editar </a> -->


		  {% endfor %}
		</div>





</div>

<style type="text/css">
  
a{

  text-decoration: none !important;

}

.card1{
  margin-bottom: 12px;
}

</style>

</body>
</html>


